<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<connectionStrings>
		<!--<add name="DEFAULT" providerName="MSSQL" connectionString="Data Source=221.147.102.15,1444,;User Id=sa;Password=gms2646;Initial Catalog=FOCUSNET;Pooling=false" />-->
		<add name="DEFAULT" providerName="MSSQL" connectionString="Data Source=db.dnct.co.kr,1433,;User Id=moisture;Password=moisturehd100;Initial Catalog=Moist_HS_DJ;Pooling=false" />
		<add name="WEIGHT" providerName="MSSQL" connectionString="Data Source=127.0.0.1,1433,;User Id=weight;Password=weight;Initial Catalog=Weight_Test;Pooling=false" />
	</connectionStrings>
	<!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<httpRuntime executionTimeout="7200" maxRequestLength="2147483647" />
		<customErrors mode="Off" />
		<compilation debug="true" defaultLanguage="c#" enablePrefetchOptimization="true" optimizeCompilations="true" targetFramework="4.8" />
		<pages enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
		<globalization fileEncoding="utf-8" />
	</system.web>
	<system.webServer>
		<httpProtocol allowKeepAlive="true">
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="http://kimjh091.dothome.co.kr" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
				<add name="Access-Control-Allow-Credentials" value="true" />
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483647" />
				<fileExtensions allowUnlisted="true" />
			</requestFiltering>
		</security>
		<asp>
			<session />
			<comPlus />
			<cache diskTemplateCacheDirectory="%SystemDrive%\inetpub\temp\ASP Compiled Templates" />
			<limits maxRequestEntityAllowed="2147483647" />
		</asp>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
		<!--<serverRuntime uploadReadAheadSize="503316480"/>-->
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" />
		<bindings>
			<webHttpBinding>
				<binding name="default" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
				<binding name="secure" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webScriptEnableBehavior">
					<enableWebScript />
				</behavior>
				<behavior name="httpBehavior">
					<webHttp />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
				<behavior name="httpsBehavior">
					<webHttp />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
				<behavior name="ClientBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="MyServiceTypeBehaviors">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceThrottling maxConcurrentCalls="80" maxConcurrentSessions="2147483647" maxConcurrentInstances="2147483647" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="HostBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="FOCUS.Scc_pgmmas">
				<endpoint address="" behaviorConfiguration="httpBehavior" binding="webHttpBinding" bindingConfiguration="default" contract="FOCUS.IIscc_pgmmas" />
				<endpoint address="" behaviorConfiguration="httpsBehavior" binding="webHttpBinding" bindingConfiguration="secure" contract="FOCUS.IIscc_pgmmas" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="FOCUS.Scc_srhmas">
				<endpoint address="" behaviorConfiguration="httpBehavior" binding="webHttpBinding" bindingConfiguration="default" contract="FOCUS.IIscc_srhmas" />
				<endpoint address="" behaviorConfiguration="httpsBehavior" binding="webHttpBinding" bindingConfiguration="secure" contract="FOCUS.IIscc_srhmas" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="FOCUS.scc_mnuifo">
				<endpoint address="" behaviorConfiguration="httpBehavior" binding="webHttpBinding" bindingConfiguration="default" contract="FOCUS.iscc_mnuifo" />
				<endpoint address="" behaviorConfiguration="httpsBehavior" binding="webHttpBinding" bindingConfiguration="secure" contract="FOCUS.iscc_mnuifo" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="FOCUS.Scc_usrmas">
				<endpoint address="" behaviorConfiguration="httpBehavior" binding="webHttpBinding" bindingConfiguration="default" contract="FOCUS.IIscc_usrmas" />
				<endpoint address="" behaviorConfiguration="httpsBehavior" binding="webHttpBinding" bindingConfiguration="secure" contract="FOCUS.IIscc_usrmas" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="MyServiceTypeBehaviors" name="FOCUS.Scc_service">
				<endpoint address="" behaviorConfiguration="httpBehavior" binding="webHttpBinding" bindingConfiguration="default" contract="FOCUS.IIscc_service" />
				<endpoint address="" behaviorConfiguration="httpsBehavior" binding="webHttpBinding" bindingConfiguration="secure" contract="FOCUS.IIscc_service" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
</configuration>